<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Intelligent Lock</title>
	
	<link rel="stylesheet" href="{% static 'Bootstrap/bootstrap.min.css' %}">
	<script src="{% static 'Bootstrap/jquery.min.js' %}"></script>
	<script src="{% static 'Bootstrap/bootstrap.min.js' %}"></script>

	<style>
 		@font-face {
		   font-family: Futura; 
		   src: url({% static 'Fonts/Futura.otf' %});
		} 
		body{
			font-family: Futura;
		}
	</style>
</head>
<body>

	<div class="container">
        <div class="row" style="margin-top: 50px;">
            <div class="col-xs-4 col-xs-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading" style="background-color: #fff">
                    	<h1 style="font-family: Futura; font-weight: bold; text-align: center;color: #ccc">Intelligent Lock</h1>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" action="">{% csrf_token %}
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Username" name="username" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <input type="submit" class="btn btn-lg btn-block" value="Sign In" style="background-color: #ccc;color: #fff">
                            </fieldset>
                        </form>
                        <p class="text-danger" style="text-align: center; color: #F44336;">{{msg}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--
	<div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                    	<p style="font-family: Futura; font-weight: bold; font-size: 60px; text-align: center;">Intelligent Lock</p>
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" action="">{% csrf_token %}
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Username" name="username" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
                            </fieldset>
                        </form>
                        <p class="text-danger">{{msg}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
</body>
</html>